<section class="game-screen__content question-screen">
  <header class="question-screen__header">
    <div class="question-screen__meta">
      <p class="question-screen__progress" data-element="progress"></p>
      <p class="question-screen__timer" data-element="timer" hidden>00:00</p>
    </div>
    <h2 class="question-screen__title" data-element="title"></h2>
    <p class="question-screen__subtitle" data-element="subtitle"></p>
  </header>

  <div class="question-screen__body">
    <ul class="question-screen__options" data-element="options"></ul>
  </div>

  <div class="question-screen__results" data-section="results">
    <div class="question-screen__results-content">
      <h3>Результаты ответа</h3>
      <ul class="question-screen__answers" data-element="answers"></ul>
    </div>
    <div class="question-screen__scoreboard">
      <h3>Таблица лидеров</h3>
      <ul data-element="scoreboard"></ul>
    </div>
  </div>
</section>
