{% extends "base.html" %}

{% block content %}
<section class="screen-mode">

  <p>
    Выбрана викторина: <strong>{{ quiz.title }}</strong>
  </p>

  <div
    id="game-screen"
    class="game-screen"
    data-room-id="{{ room_id }}"
    data-join-url="{{ join_url }}"
    data-quiz-title="{{ quiz.title }}"
  ></div>

  <p id="room-error" class="error" hidden></p>
</section>

<script src="{{ url_for('static', path='js/leaderboard.js') }}" defer></script>
<script src="{{ url_for('static', path='js/room.js') }}" defer></script>
{% endblock %}
